.css_oficodcola_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_oficodcola_grid_line {vertical-align: top;text-align: right;}
.css_usrnom_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usrnom_grid_line {vertical-align: top;text-align: right;}
.css_mvtnabr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mvtnabr_grid_line {vertical-align: top;text-align: right;}
.css_cdatecodcola_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_cdatecodcola_grid_line {vertical-align: top;text-align: center;}
.css_ticknro_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ticknro_grid_line {vertical-align: top;text-align: right;}
.css_tickhoragen_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tickhoragen_grid_line {vertical-align: top;text-align: right;}
.css_tickhorate_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tickhorate_grid_line {vertical-align: top;text-align: right;}
.css_tickhoratefin_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tickhoratefin_grid_line {vertical-align: top;text-align: right;}
.css_tickduratemin_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tickduratemin_grid_line {vertical-align: top;text-align: right;}
.css_espera_usuario_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_espera_usuario_grid_line {text-align: center;}
.css_tiempo_muerto_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_tiempo_muerto_grid_line {text-align: center;}
.css_tiempo_muerto_tot_ger {text-align: ;}
.css_ofides_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ofides_grid_line {vertical-align: top;text-align: right;}
.css_mvtncod_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_mvtncod_grid_line {vertical-align: top;text-align: right;}
.css_tickabr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tickabr_grid_line {vertical-align: top;text-align: right;}
